body
  include ../components/page-header/page-header
  div.container
    main.page-main.row

      +title(texts.intro.title)(class='col-12')
      +text(texts.intro.text)(class='col-12')
      +code-snippet({ code: snippets.html[0] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[0] , title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')
      +text(texts.intro.text2)(class='col-12')
        +text-list(texts.intro.list)
      +text(texts.intro.text3)(class='col-12')
      .col-12
        .example.row
          .example__col.col col
          .example__col.col col
          .example__col.col col
        .example.row
          .example__col.col col
          .example__col.col col
          .example__col.col col
        .example.row.no-children-v-gutters
          .example__col.col col
          .example__col.col col
          .example__col.col col
      +code-snippet({ code: snippets.html[1] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[1], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')



      +title(texts.differentWidthCols.title)(class='col-12')
      +text(texts.differentWidthCols.text)(class='col')
      .col-12
        .example.row
          .example__col.col col-12
        - for(let i = 1, j = 11; i < 12; i++, j--) {
            .example.row
              .example__col(class=`col-${i}`) col-#{i}
              .example__col(class=`col-${j}`) col-#{j}
        - }
      +code-snippet({ code: snippets.html[2] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[2], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')



      +title(texts.alignment.title)(class='col-12')
      +text(texts.alignment.text)(class='col-12')
      +subtitle(texts.alignment.subtitle1)(class='col-12')
      .col-12
        .example.example_colored.row.justify-content-start.no-children-v-gutters
          .example__col.col-2 col-2
          .example__col.col-2 col-2
        .example.example_colored.row.justify-content-center.no-children-v-gutters
          .example__col.col-2 col-2
          .example__col.col-2 col-2
        .example.example_colored.row.justify-content-end.no-children-v-gutters
          .example__col.col-2 col-2
          .example__col.col-2 col-2
        .example.example_colored.row.justify-content-space-between.no-children-v-gutters
          .example__col.col-2 col-2
          .example__col.col-2 col-2
          .example__col.col-2 col-2
        .example.example_colored.row.justify-content-space-around.no-children-v-gutters
          .example__col.col-2 col-2
          .example__col.col-2 col-2
          .example__col.col-2 col-2
      +code-snippet({ code: snippets.html[3] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[3], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +subtitle(texts.alignment.subtitle2)(class='col-12')
      .col-12
        .example.example_colored.row.example_fixed-size.no-children-v-gutters.align-items-start
          .example__col.col-4 col-4
          .example__col.col-4 col-4
          .example__col.col-4 col-4
        .example.example_colored.row.example_fixed-size.no-children-v-gutters.align-items-center
          .example__col.col-4 col-4
          .example__col.col-4 col-4
          .example__col.col-4 col-4
        .example.example_colored.row.example_fixed-size.no-children-v-gutters.align-items-end
          .example__col.col-4 col-4
          .example__col.col-4 col-4
          .example__col.col-4 col-4
        .example.example_colored.row.example_fixed-size.no-children-v-gutters.align-items-stretch
          .example__col.col-4 col-4
          .example__col.col-4 col-4
          .example__col.col-4 col-4
        .example.example_colored.row.example_fixed-size.no-children-v-gutters
          .example__col.col-4.align-self-start col-4
          .example__col.col-4.align-self-center col-4
          .example__col.col-4.align-self-end col-4
      +code-snippet({ code: snippets.html[4] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[4], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +title(texts.direction.title)(class='col-12')
      +text(texts.direction.text)(class='col-12')
      .col-12
        .example.row
          .example__col.col-3 1
          .example__col.col-3 2
          .example__col.col-3 3
          .example__col.col-3 4
        .example.row.direction-row-reverse
          .example__col.col-3 1
          .example__col.col-3 2
          .example__col.col-3 3
          .example__col.col-3 4
        .example.row.direction-column.example_colored
          .example__col.col-3 1
          .example__col.col-3 2
          .example__col.col-3 3
          .example__col.col-3.no-v-gutters 4
        .example.row.direction-column-reverse.example_colored
          .example__col.col-3.no-v-gutters 1
          .example__col.col-3 2
          .example__col.col-3 3
          .example__col.col-3 4
      +code-snippet({ code: snippets.html[5] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[5], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +title(texts.ordering.title)(class='col-12')
      +text(texts.ordering.text)(class='col-12')
      .col-12
        .example.row
          .example__col.col-2.order-2 1
          .example__col.col-2.order-1 2
          .example__col.col-2.order-4 3
          .example__col.col-2.order-3 4
          .example__col.col-2.order-6 5
          .example__col.col-2.order-5 6
      +code-snippet({ code: snippets.html[6] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[6], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +title(texts.offset.title)(class='col-12')
      +text(texts.offset.text)(class='col-12')
      .col-12
        - for (let i = 1; i < 12; i++) {
            .example.row.example_colored
              .example__col.col-1.no-v-gutters(class=`offset-right-${i}`) of-#{i}
        - }
      +code-snippet({ code: snippets.html[7] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[7], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +title(texts.show_hide.title)(class='col-12')
      +subtitle(texts.show_hide.subtitle1)(class='col-12')
      +text(texts.show_hide.text)(class='col-12')
      .col-12
        .example.row
          .example__col.col 1
          .example__col.col.hide-laptop-md 2
          .example__col.col 3
          .example__col.col.hide-laptop-md 4
      +code-snippet({ code: snippets.html[8] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[8], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

      +subtitle(texts.show_hide.subtitle2)(class='col-12')
      +text(texts.show_hide.text2)(class='col-12')
      .col-12
        .example.row
          .example__col.col 1
          .example__col.col.hide-laptop-md.show-tablet-landscape 2
          .example__col.col 3
          .example__col.col.hide-laptop-md.show-tablet-landscape 4

      +code-snippet({ code: snippets.html[9] })(class='col col-phone-landscape-12')
      +code-snippet({ code: snippets.sass[9], title: 'Sass ( Scss syntax )', classes: 'scss' })(class='col')

